{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="" />
  <meta name="description" content="">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom Styles -->
  <link rel="stylesheet" href="{% static './css/style.css' %}">

  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700" rel="stylesheet">

  <!-- Ionic Icons -->
  <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/images/Electron_shell_001_Hydrogen_-_no_label.png" />

  <title>Real Estate Template | Themes Bootstrap</title>

<style>
    #topnav {
        font-size: 50px !important;
        padding-left: 5.5em;
        padding-right: 1em;
        height: 2em;
        background: #38d3ff;
        margin: 0px;
    }

</style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark " id="topnav" >
    <img src="{% static './images/icons氢.png' %}" alt="label" width="80">&nbsp;&nbsp;&nbsp;&nbsp;

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="font">
         <a class="nav-link active" href="#" style="font-size: 0.6em ;font-weight:500 ">首页</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" style="font-size: 0.6em ;font-weight:500">研究方向<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item" style=""> | </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 0.6em;font-weight:500">成果及论文</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 0.6em;font-weight:500">组员介绍</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 0.6em;font-weight:500">课题组新闻</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 0.6em;font-weight:500">氢能动态</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 0.6em;font-weight:500">加入我们</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 0.6em;font-weight:500">联系我们</a>
      </li>
    </ul>
  </div>
</nav><!--导航栏-->

  <section id="hero">
    <div class="container-fluid">
        <div class="row">
      <div class="hero-container-desktop">
        <div class="hero-details">
          <h1>欢迎访问课题组主页</h1>
          <p style="color: #919394">山东大学热科学与工程研究中心 <br>李雪芳课题组.</p>
          <a href="#" class="primary-btn">研究方向介绍 <i class="icon ion-md-add-circle"></i></a>
        </div>
        <div style="text-align: center;"><img src="{% static "./images/desktop-hero.png" %}" class=" desktop-hero"
                                                    alt="https://unsplash.com/photos/B0aCvAVSX8E"></div>
      </div>
        </div><!-- End hero container desktop -->
    </div><!-- End container fluid -->

{#    <div class="container-fluid">#}
{#      <img src="../static/images/mobile-hero.jpg" class="img-fluid mobile-hero">#}
{#    </div><!-- End container fluid -->#}
{#    <div class="container topmargin-lg" >#}
{#      <div class="hero-container-mobile">#}
{#        <div class="hero-details-mobile" >#}
{#          <h1 >Largest offer of real estate in the US</h1>#}
{#          <p>Integer ut semper ex, quis vulputate lectus. Maecenas non blandit nibh.</p>#}
{#          <a href="#" class="secondary-btn">General Enquiry <i class="icon ion-md-add-circle"></i></a>#}
{#        </div>#}
{#      </div><!-- End hero container mobile -->#}
{#    </div><!-- End container -->#}
  </section><!-- home图片 -->

  <section id="properties">
    <div class="container" >
      <h2>The best marketplace to find homes for sale.</h2>
      <div class="row topmargin-sm">
        <div class="col-md-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia massa vitae molestie efficitur. Sed
            dictum arcu et dui ultricies, quis varius justo convallis. Nunc vel sodales mauris.</p>
        </div>
        <div class="col-md-6">
          <p>Suspendisse potenti. Etiam eget neque pellentesque, tempus dui in, varius dolor. Nunc facilisis lacus est.
            Donec ac diam ac elit maximus facilisis.</p>
        </div>
      </div>
    </div><!--中间字体 -->
    <div  class="align-left" style="white-space: nowrap">
        <div class="row">
    <div class="col-lg-3 col-md-6" style="display: inline-block">
      <div class="property-container" style="display: inline-block">
        <div class="property-title-sm">
          <span>Residential</span>
          <h3><a href="#">736 Sunset Ave <br>
              Venice, Ca 90291</a></h3>
        </div>
        <div class="property-button-sm">
          <a href="#">Read more</a>
        </div>
        <div class="property-icon">
          <a href="#"><i class="icon ion-md-arrow-dropright-circle"></i></a>
        </div>
        <img src="../static/images/img-01.jpg" class="img-fluid" alt="House image 2">
      </div>
    </div>
    <div class="col-lg-3 col-md-6" style="display: inline-block">
      <div class="property-container" style="display: inline-block">
        <div class="property-title-sm" style="display: inline-block">
          <span>Residential</span>
          <h3><a href="#">3501 Jasmine Ave <br>
              Los Angeles, CA 90034</a></h3>
        </div>
        <div class="property-button-sm">
          <a href="#">Read more</a>
        </div>
        <div class="property-icon">
          <a href="#"><i class="icon ion-md-arrow-dropright-circle"></i></a>
        </div>
        <img src="../static/images/img-02.jpg" class="img-fluid"
             alt="House image 3">
      </div>
    </div>
    <div class="col-lg-3 col-md-6" style="display: inline-block">
      <div class="property-container">
        <div class="property-title-sm">
          <span>Residential</span>
          <h3><a href="#">9958 Westwanda Dr <br>
              Beverly Hills, Ca 90210</a></h3>
        </div>
        <div class="property-button-sm">
          <a href="#">Read more</a>
        </div>
        <div class="property-icon">
          <a href="#"><i class="icon ion-md-arrow-dropright-circle"></i></a>
        </div>
        <img src="../static/images/img-01.jpg" class="img-fluid" alt="House image 2">
      </div>
    </div>
    <div class="col-lg-3 col-md-6" style="display: inline-block">
      <div class="property-container">
        <div class="property-title-sm">
          <span>Residential</span>
          <h3><a href="#">1830 N Stanley Ave <br>
              Los Angeles, Ca 90046</a></h3>
        </div>
        <div class="property-button-sm">
          <a href="#">Read more</a>
        </div>
        <div class="property-icon">
          <a href="#"><i class="icon ion-md-arrow-dropright-circle"></i></a>
        </div>
        <img src="../static/images/img-02.jpg" class="img-fluid"
             alt="House image 3">
      </div>
        </div>
    </div>
     </div>


</section><!-- End properties -->

<section id="call-to-action">
<div class="container">
  <div class="block-title">
    <h3>关注更多氢行业新闻动态</h3>
    <p>
      关注我们
    </p>
      <a href="#"><img src="{% static './images/erweima.jpg' %}" width="100 " alt="erweima"></a>
  </div><!-- End block title -->
</div><!-- End container -->
</section><!-- End call to action -->


<section id="copyright">
<div class="container">
  <small> <img src="{% static './images/地址.png' %}" width="20" alt="地址">&nbsp;&nbsp;地址:济南市经十路17923号山东大学千佛山校区
      <img src="{% static './images/电话.png' %}" alt="电话"width="20">&nbsp;&nbsp;电话:+86 531 88399000
      <img src="{% static './images/邮箱.png' %}" alt="邮箱"width="20">&nbsp;&nbsp;邮箱：abc@sdu.edu.cn
      <br>
      Copyright ©2020 山东大学热科学与工程研究中心 All Rights Reserved 版权所有
  </small>
</div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>