{% extends "base.html" %}
{% load  static %}

{% block 课题组动态 %}
active
{% endblock %}

{% block 标题 %}
课题组动态
{% endblock %}

{{ form.media }}

{% block 主体 %}
    <div style="padding-left: 150px;padding-right: 150px
    ;padding-top: 100px;padding-bottom: 100px">
    <h1 style="padding-bottom: 10px;color: dodgerblue">{{name}}</h1>
    <small>{{ time }}</small>
        {% autoescape off %}

    {{ form }}
            <br>
            <br>
            <br>

    <a class="btn btn-primary" href=".." role="button">back</a>
    </div>


{% endautoescape %}
{% endblock  %}

