{% extends "base_M.html" %}
{% load  static %}
{{ form.media }}
{% block 成员介绍 %}
active
{% endblock %}


{% block 主体 %}
    <style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(66, 163, 255, 0.23);
}
  </style>
       <h1 style="margin-bottom: 50px;color: dodgerblue">课题组成员</h1>
    <div class="row">

{% for merber in merbers.all %}

    <a href="{{ merber.id }}"><div class="col-md-4" >
    <div class="card" >
  <div class="row no-gutters">
    <div class="col-md-6">
      <img style="padding: 10px" src="{{ merber.picture.url }}" height="200"   alt="picture">
    </div>
    <div class="col-md-6"style="margin-top: 50px;right: 20px">
      <div class="card-body"align="center">
        <h4 class="card-title" style="font-size: 1.5vw">{{merber.name}}</h4>
        <p class="card-text"style="font-size: 1vw">{{merber.grade}}</p>
        <p class="card-text"style="font-size: 1vw"><small class="text-muted">邮箱：{{merber.mail}}</small></p>
      </div>
    </div>
  </div>
</div>
</div></a>
{% endfor %}
    </div>

{% endblock  %}
<div class="card col-md-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>